.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  .logo {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url(./logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .hello {
    margin-top: 16px;
    font-size: 26px;
    color: #005cff;
  }
}
